doctype html
html
  head
    title= title
  body
    h1 hello world!
    p express.js + sparkpost on google app engine.
    hr
    if sent
      p email sent!
    if err
      p Oh my. Something's not right:
        ul
          each e in err.errors
            li
              strong=e.message+': '
              |#{e.description}
    else
      form(name="hello", action="/hello", method="post")
        input(type="email", placeholder="enter your email to send yourself a hello world message", name="email", style="width: 50%; margin-right: 15px;")
        input(type="submit", value="send")
